*{
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-sizing: border-box;
}

body {
  background: #353535;
  color: #fff;
}

img {
  width: 50px;
  cursor: pointer;
}

.container {
  margin: 12%;
  width: 90%;
  max-width: 800px;
}

.display {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #fff;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  border-radius: 5px;
}

.container h1 {
  font-weight: 500;
  font-size: 45px;
  margin-bottom: 50px;
}

.container h1 span {
  padding-bottom: 20px;
  border-bottom: 4px solid #fff;
  font-weight: 900;
}

.display input {
  border: 0;
  outline: 0;
  font-size: 35px;
}

button img{
  width: 50px;
  margin-right: 8px;
  transform: rotate(5deg);
}

button {
  border: 0;
  outline: 0;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 10px;
  border-radius: 5px;
  font-size: 16px;
  transition: opacity 0.3s;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.7;
}